NODE_ENV=production

SITE_URI = http://localhost:3000/

# Next Auth Google Related Config
NEXTAUTH_URL= http://localhost:3000
NEXTAUTH_SECRET=

# Payload CMS Related Config
MONGODB_URI=""
PAYLOAD_SECRET=
PAYLOAD_CONFIG_PATH=payload/payload.config.ts

# Oauth Google
CLIENTID=
CLIENTSECRET=

# AWS Related Config
AWS_REGION=ap-south-1
AWS_KEY=
AWS_SECRET=
AWS_BUCKET=

# Firebase OTP Login Related Config
FIREBASE=

# SMTP Mail Related Config
SMTP_HOST=127.0.0.1
SMTP_PORT=2525
SMTP_USER=doctopia
SMTP_PASS=""

# Open AI
OPENAI_API_KEY=

# Meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_API_KEY=
